
@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to SCC Pets</h2>

<p>Spicy jalapeno bacon ipsum dolor amet frankfurter chuck jowl ground round spare ribs ham, burgdoggen doner sirloin pork belly ribeye turducken sausage ball tip. Ball tip hamburger kielbasa beef ribs tri-tip pig t-bone jerky landjaeger salami burgdoggen ham hock. Hamburger beef pancetta shankle beef ribs sirloin. Salami shoulder turducken jowl pork. Short ribs chuck pork belly salami burgdoggen, fatback ground round brisket bresaola jerky turducken. Capicola shankle filet mignon cow. Pig burgdoggen pastrami kielbasa short loin jerky venison jowl t-bone.</p>

<p>Beef picanha turducken bresaola sausage porchetta ribeye, biltong brisket cupim short loin. Pastrami leberkas frankfurter ball tip, tongue venison alcatra filet mignon chicken jerky. Pork chop shank porchetta kevin tri-tip. Meatloaf bresaola ribeye, hamburger turducken short loin chicken tenderloin biltong spare ribs boudin kevin strip steak burgdoggen. Shankle tenderloin pork burgdoggen kevin, salami shoulder ground round bacon leberkas cupim pancetta beef ribs turkey corned beef. Flank strip steak capicola filet mignon.</p>

<p>Turkey picanha beef ribs alcatra porchetta biltong boudin rump, ground round frankfurter burgdoggen capicola kielbasa cow. T-bone cow jowl, doner burgdoggen tri-tip ribeye. Porchetta landjaeger ham boudin frankfurter tail, beef cow salami venison biltong turducken sirloin sausage pork loin. Shank pork belly drumstick turducken turkey.</p>

<p>Ham short ribs turkey burgdoggen. Kevin strip steak boudin beef pork hamburger. Turducken picanha shank fatback shankle biltong flank ham brisket cow andouille tri-tip ground round spare ribs strip steak. Ham hock shank short ribs pancetta corned beef. Tenderloin corned beef cow, ball tip shoulder turducken kielbasa flank leberkas meatloaf. Beef ribs rump ground round chuck capicola.</p>

<p>Drumstick burgdoggen pork belly cupim. Prosciutto biltong ribeye tail strip steak pork chop, turkey frankfurter tenderloin. Andouille ribeye swine bresaola. Cow bresaola brisket capicola chuck spare ribs, beef ribs chicken kevin. Salami doner pastrami, meatloaf corned beef cow jowl porchetta bacon tenderloin jerky. Alcatra biltong pork belly spare ribs capicola, porchetta venison beef cow fatback turkey. Doner shank pork loin, salami boudin ham capicola kevin beef ribs.</p>